@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@700&display=swap");

.nav-link {
  color: white !important;
  font-family: "KoHo", sans-serif;
  font-size: 20px;
  border-radius: 30px !important;
  margin-right: 1em;
}

.activenav {
  background-color: #30d5c8 !important;
  border-radius: 30px !important;
}

@media (max-width: 991.5px) {
  .navbar {
    background-color: rgba(23, 162, 184, 1) !important;
  }
  .activenav {
    background-color: transparent !important;
  }
  .selected {
    all: initial;
  }
}
