@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@700&display=swap");

.nav-link {
  color: white !important;
  font-family: "KoHo", sans-serif;
  font-size: 20px;
  border-radius: 30px !important;
  margin-right: 1em;
  text-shadow: 1px 1px rgb(0, 0, 0, 0, 0.8);
}

.activenav {
  background-color: #1f2f98 !important;
  border-radius: 30px !important;
}
.logo {
  width: 20%;
}
@media (max-width: 991.5px) {
  .navbar {
    background-color: #4adede !important;
  }
  .activenav {
    background-color: transparent !important;
  }
  .selected {
    all: initial;
  }
  .logo {
    width: 200px;
  }
}

@media (max-width: 295px) {
  .logo {
    width: 180px;
  }
}
