@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Quicksand:wght@600&family=Sansita+Swashed&family=Yanone+Kaffeesatz:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Yanone+Kaffeesatz:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.headerdiv {
  background: linear-gradient(270deg, #b66ac6, #cf4296, #de7609);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 240px;
  text-align: center;
  padding-top: 125px;
}
body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23eeeeee' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M41 37.59V25h-2v12.59l-8.9-8.9-1.41 1.41 8.9 8.9H25v2h12.59l-8.9 8.9 1.41 1.41 8.9-8.9V55h2V42.41l8.9 8.9 1.41-1.41-8.9-8.9H55v-2H42.41l8.9-8.9-1.41-1.41-8.9 8.9zM1 1h2v2H1V1zm0 4h2v2H1V5zm0 4h2v2H1V9zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm4 0h2v2H5v-2zm4 0h2v2H9v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zM5 1h2v2H5V1zm4 0h2v2H9V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm0 4h2v2h-2V5zm0 4h2v2h-2V9zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zM5 5h70v70H5V5zm2 68h66V7H7v66zM9 9h62v62H9V9zm2 60h58V11H11v58zm2-39.6V13h16.4A29.1 29.1 0 0 0 13 29.4zM15 15v6.67A31.17 31.17 0 0 1 21.67 15H15zm-2 52V50.6A29.1 29.1 0 0 0 29.4 67H13zm2-8.67V65h6.67A31.17 31.17 0 0 1 15 58.33zM67 67H50.6A29.1 29.1 0 0 0 67 50.6V67zm-8.67-2H65v-6.67A31.17 31.17 0 0 1 58.33 65zM67 13v16.4A29.1 29.1 0 0 0 50.6 13H67zm-2 8.67V15h-6.67A31.17 31.17 0 0 1 65 21.67zM39 13h2v2h-2v-2zm7.02.66l1.93.52-.51 1.93-1.94-.52.52-1.93zm6.61 2.46l1.74 1-1 1.73-1.74-1 1-1.73zm5.75 4.08l1.42 1.42-1.42 1.4-1.4-1.4 1.4-1.42zm4.5 5.43l1 1.74-1.73 1-1-1.74 1.73-1zm2.94 6.42l.52 1.93-1.93.52-.52-1.94 1.93-.51zM67 39v2h-2v-2h2zm-.66 7.02l-.52 1.93-1.93-.51.52-1.94 1.93.52zm-2.46 6.61l-1 1.74-1.73-1 1-1.74 1.73 1zm-4.08 5.75l-1.42 1.42-1.4-1.42 1.4-1.4 1.42 1.4zm-5.43 4.5l-1.74 1-1-1.73 1.74-1 1 1.73zM41 67h-2v-2h2v2zm6.95-1.18l-1.93.52-.52-1.93 1.94-.52.51 1.93zm-13.97.52l-1.93-.52.51-1.93 1.94.52-.52 1.93zm-6.61-2.46l-1.74-1 1-1.73 1.74 1-1 1.73zm-5.75-4.08l-1.42-1.42 1.42-1.4 1.4 1.4-1.4 1.42zm-4.5-5.43l-1-1.74 1.73-1 1 1.74-1.73 1zm-2.94-6.42l-.52-1.93 1.93-.52.52 1.94-1.93.51zM13 41v-2h2v2h-2zm.66-7.02l.52-1.93 1.93.51-.52 1.94-1.93-.52zm2.46-6.61l1-1.74 1.73 1-1 1.74-1.73-1zm4.08-5.75l1.42-1.42 1.4 1.42-1.4 1.4-1.42-1.4zm5.43-4.5l1.74-1 1 1.73-1.74 1-1-1.73zm6.42-2.94l1.93-.52.52 1.93-1.94.52-.51-1.93zM40 63a23 23 0 1 1 0-46 23 23 0 0 1 0 46zm0-2a21 21 0 1 0 0-42 21 21 0 0 0 0 42zm0-2a19 19 0 1 1 0-38 19 19 0 0 1 0 38zm0-2a17 17 0 1 0 0-34 17 17 0 0 0 0 34z'/%3E%3C/g%3E%3C/svg%3E");
}
hr {
  border-top: 2px solid #330867;
  border-radius: 5px;
}

h1 {
  color: white;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 {
  top: 0;
}
.ml1 .line2 {
  bottom: 0;
}

.ordercontainer {
  margin-top: 3em;
  margin-bottom: 3em;
}
.ordercontainer ::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.ordercontainer ::-webkit-scrollbar {
  width: 10px;
}

.ordercontainer ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ordercontainer ::-webkit-scrollbar-thumb {
  background: #5e72eb;
  border-radius: 1em !important;
}

.ordercontainer ::-webkit-scrollbar-thumb:hover {
  background: #5e72eb;
}
.menuitems img {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.card {
  padding: 10px;
  margin-bottom: 1em !important;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}
.quant {
  justify-content: center;
  padding-top: 1em;
}
.numdonuts {
  border: 1px solid #555;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 1em;
  margin-right: 1em;
  font-family: "Montserrat", sans-serif;
}
#add,
#remove {
  color: white;
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  border: none;
  height: 2em;
  border-radius: 5px;
  width: 2em;
  height: 2em;
}
.card-text {
  height: 33px;
}
.addcart {
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Quicksand", sans-serif;
}
.addcart:hover {
  cursor: pointer;
}

.menuitems h5 {
  font-family: "Catamaran", sans-serif;
}

.menuitems h5 {
  font-family: "Sansita Swashed", cursive;
}
h2,
h4 {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Fredoka One", cursive;
}
.desc {
  padding: 20px;
}
.card-title {
  margin-bottom: -10px;
}
.cartitems {
  margin-top: 3em;
}
.cartitems h5 {
  font-family: "Merriweather Sans", sans-serif;
}
.cartdiv {
  margin: 10px;
}
@media (max-width: 575.5px) {
  .aboutdiv {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 2em;
    background-color: #edf4ed;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card {
    width: 70%;
  }
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 1em;
  overflow: hidden;
}
th,
td {
  padding: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
thead {
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  color: white;
}
th {
  font-weight: 1200;
}
tfoot {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 18px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 351px) {
  .card {
    width: 80%;
    padding: 5px;
  }
  .card-text {
    height: 60px;
  }
  .menuitems img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  th,
  td {
    padding: 5px;
  }
}
.cartheading {
  border-radius: 30px;
  border: 2px solid #330867;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#modal-container.formmodal {
  transform: scale(1);
}
#modal-container.formmodal .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.formmodal .modal-background .modal {
  animation: movein 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.formmodal .modal-background .modal h2,
#modal-container.formmodal .modal-background .modal h4,
#modal-container.formmodal .modal-background .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1.4s linear forwards;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 1em;
  position: relative;
  width: 400px !important;
  height: 420px !important;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes movein {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
  }
}

input,
textarea {
  width: 200px !important;
  padding: -5px !important;
  margin-left: 1em;
}
.orderform {
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
}
form .addcart {
  padding: 7px;
  margin-right: 1em;
  width: 7em;
}
.col-form-label {
  width: 80px;
}
@media (max-width: 500px) {
  h4 {
    font-size: 20px;
  }
  input,
  textarea {
    width: 170px !important;
    padding: -15px !important;
    margin-left: 1em;
  }
  .col-form-label {
    width: 70px;
  }
  form .addcart {
    padding: 2px;
    margin-right: 1em;
    width: 7em;
  }
  form {
    padding: 10px;
  }
  #modal-container .modal-background .modal {
    padding: 20px;
    width: 320px !important;
    height: 380px !important;
  }
}

@media (max-width: 347px) {
  h4 {
    font-size: 18px;
  }
  input,
  textarea {
    width: 140px !important;
    padding: -1em !important;
    margin-left: 1em;
  }
  input {
    height: 30px !important;
  }
  .col-form-label {
    width: 70px;
  }
  form .addcart {
    padding: 2px;
    margin-right: 1em;
    width: 5em;
    vertical-align: middle;
  }
  form {
    padding: 10px;
  }
  #modal-container .modal-background .modal {
    padding: 10px;
    width: 250px !important;
    height: 370px !important;
  }
}
@media (max-height: 422px) {
  #modal-container .modal-background .modal {
    height: 300px !important;
    overflow-y: scroll;
    margin-top: 1em;
  }
  .success {
    height: 150px;
  }
}
h5 {
  font-family: "Quicksand", sans-serif;
}
